{{#each journal_entries as |journal_entry|}} {{log journal_entry}}

<h2 data-id="{{journal_entry.id}}">{{journal_entry.created_at}}</h2>

<ul data-id="{{journal_entry.id}}">
    <li><h2>{{#if journal_entry.journal_entry_content}} {{journal_entry.journal_entry_content}} {{else}} cannot save an empty entry {{/if}}</h2>
    </li>
    <br>
    <li>Id: {{journal_entry.id}}</li>
    {{!-- <li>
         <button type="submit">X</button>
    </li> --}}
</ul>
{{!--         <article>
          <h2>August 22, 2018</h2>
          <p>In my last entry I left out a mood: <em>triste</em> or "sad". I also metioned that "estar" is used in
            conjuction with the location of people, animals and things. Let's expolre that a little. Al lado de next
            to, a la derecha de to the right, a la izquierda de to the left.</p>
        </article>
        <div class="col-md-5 mr-auto">
          <div>
            <p>
              <span class="progress-skill-title">Skill Goal: Listening</span>
            </p>
            <div class="progress status-today">
              <div id="progress-bar-listening-2018-8-22" class="progress-bar progress-bar-info progress-bar-striped active"
                role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
              </div>
            </div>
          </div>
        </div> --}}
{{/each}}